.Generic-Style-Attributes{
  height:;
  width: %;
  box-sizing: border-box;
  background-color:;
  position:;

  border-width: %;
  border-style: ;
  border-color: ;
  border-radius: %;

  padding-top: %;
  padding-bottom: %;
  padding-left: %;
  padding-right: %;

  margin-top: %;
  margin-bottom: %;
  margin-left: %;
  margin-right: %;



}
